body {
    background: #FFC107;
}

.logo {
    width: 150px;
    margin: auto;
    margin-top: 30%;
}

.letreiro {
    width: 20px;
    margin: auto;
    margin-top: -75px;
}

h1 {
    margin-top:-25px;
}

.login {
    width: 250px;
    margin: auto;
    font-size: 22px;
    margin-top: 15%;
}

.senha {
    width: 250px;
    margin: auto;
    font-size: 22px;
    margin-top: 5%;

}

input {
    border: none;
    margin-top: 3%;
    border-radius: 8px;
    width: 250px;
    height: 35px;
    font-size: 26px;
}

button {
    background: #454545;
    border: none;
    color: #FFC107;
    width: 100px;
    height: 30px;
    font-size: 20px;
    border-radius: 8px;
    display: block;
    margin: auto;
    margin-top: 15%; 
}

.cadastrar {
    width: 140px;
    margin-top: 10%;
}

.ou {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 10%;
}