body {
    margin: 0;
    padding: 0;
    background: #FFC107;
}

.logo {
    width: 250px;
    margin: 0 auto;
}

img {
    width: 250px;
    height: 350px;
}

.login {
     width: 300px;
    margin: 0 auto;
}

.senha {
     width: 300px;
    margin: 0 auto;
    margin-top: 10%;
}

label {
    font-size: 35px;
}

input {
    width: 300px;
    height: 40px;
    border: none;
    border-radius: 10px;
}

.entrar {
   font-size: 30px;
   width: 200px;
   height: 45px;
   border: none;
   border-radius: 10px;
   background: #454545;
}

.cadastrar {
   font-size: 30px;
   width: 250px;
   height: 45px;
   border: none;
   border-radius: 10px;
   background: #454545;
}

.botao-entrar {
    width: 200px;
    margin: 0 auto;
    margin-top: 20%;
}

.botao-cadastrar {
    width: 250px;
    margin: 0 auto;
    margin-top: 12%;
}

h2 {
    margin-left: 23px;
    margin-top: 10%;
}

a {
    text-decoration: none;
    color: #FFC107;
}
